.welcome {
  height: 50vh;
}

.nume_trainer {
  width: 100%;
  font-size: var(--fs-large);
  font-weight: 400;
  text-align: center;
  background-color: rgba(20, 30, 76, 0.9);
  border-radius: 5px;
  padding: var(--spacing-tiny) 0;
  margin-bottom: var(--spacing-medium);
  margin-top: 10px;
  z-index: 2;
  color: var(--text-secondary);
}
.imagine-trainer {
  width: auto;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  margin-top: -70px;

  text-align: center;
}

.card-trainer {
  padding-top: 60px;
}

.traineri {
  height: 50vh;
}
